body{
    margin: 5px;
    border: 5px;
    border-color: navy;
    padding: 50px;
    border-style: groove;
    

}
td{
   width: 150px; 
   height: 30px;
}
img{
    margin-top: -40;
    width: 120px;
    
}
h1,h5{
    color: navy;
}
h3,h4{
    color: navy;
}
div{
    background-color:#f0ece9 ;
}




